.row
  .col-md-auto
    = form_with(model: dealer, local: true) do |form|
      - if dealer.errors.any?
        #error_explanation
          %h2
            = pluralize(dealer.errors.count, "error")
            prohibited this dealer from being saved:
          %ul
            - dealer.errors.full_messages.each do |message|
              %li= message
      .form-group
        = form.label :nazwa
        = form.text_field :nazwa, :class => 'form-control'
      .form-group
        = form.label :adress
        = form.text_field :adress, :class => 'form-control'
      .form-group
        = form.label :telefon
        = form.text_field :telefon, :class => 'form-control'
      .form-group
        = form.label :miasto
        = form.text_field :miasto, :class => 'form-control'
      .form-group
        = form.label :wlasciciel
        = form.text_field :wlasciciel, :class => 'form-control'
      .form-group
        = form.label :samochody
        = form.text_field :samochody, :class => 'form-control', required: true
      .form-group
        = form.label :przychody
        = form.text_field :przychody, :class => 'form-control', required: true
      .form-group
        = form.submit :class => 'btn btn-dark'
